# =========================
# Python
# =========================
backend/venv/
backend/**/__pycache__/
*.py[cod]
*.pyo

# =========================
# Node.js
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Environment Files
# =========================
backend/.env
frontend/.env

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log